@page
@using NotesWeb.DTO;
@model NotesWeb.Pages.NotesByIdModel
@{
}

<form method="post">
@Html.HiddenFor(m => m.Notes.Id)
<h4>Title:</h4>
@Html.TextBoxFor(m => m.Notes.Title)
<h4>Description:</h4>
    <input type="text" name="Notes.Description" value="@Model.Notes.Description" size="150" /><br /><br />
    @if (Model.Notes.Id==0)
    {
        <input type="submit" value="Create" />
    }
    else
    {
        <input type="submit" value="Update" />
    }  
</form>