@page
@using NotesWeb.DTO;
@model NotesWeb.Pages.NotesByIdModel
@{
}

<form method="post">
@Html.HiddenFor(m => m.Notes.Id)
<h4>Title:</h4>
@Html.TextBoxFor(m => m.Notes.Title)
<h4>Description:</h4>
    <textarea type="text" rows="10" cols="100"  name="Notes.Description" />
    @(Model.Notes.Description)
    </textarea><br /><br />
    @if (Model.Notes.Id==0)
    {
        <input type="submit" value="Create" />
    }
    else
    {
        <input type="submit" value="Update" />
    }  
</form>