@page
@model World.Web.Pages.CountryModel
@{
}
<h2> Country List</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td><b> ID </b></td>
            <td><b> Name </b></td>
            <td><b> Short Name </b></td>
            <td><b> Country Code </b></td>
        </tr>
    </thead>
    <tbody>  
        @foreach (var item in Model.Countries)
            {
                <tr>
                    <td> @item.Id </td>
                    <td> @item.Name </td>
                    <td> @item.ShortName </td>
                    <td> @item.CountryCode </td>
                </tr>
            }
    </tbody>
</table>